.active{
  fill: yellow;
}

.inputField{
  background-color: #e7e7e7;
  padding: 8px;
  border-radius: 10px;
  color: black;
}


.chat-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.chat-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.753);
  border-radius: 999px;
}

.chat-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}
